.hero-section {
    background: #f2f0ed;
    min-height: 555px;
    overflow: hidden;
}

.hero-section .row {
    min-height: 555px;
}

.hero-content {
    padding-left: 7%;
    padding-top: 45px;
    padding-bottom: 45px;
    z-index: 2;
}

.hero-content h1 {
    width: 577px;
    height: 173px;
    font-family: 'FONTSPRING DEMO - Integral CF';
    font-size: 64px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -2px;
    color: #000000;
    margin-bottom: 25px;
}

.hero-content p {
    padding: 20px 0 0 0;
    width: 545px;
    height: 33px;
    font-family: 'Satoshi';
    max-width: 520px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 25px;
}



.shop-btn {
    position: relative;
    top: 25px;
    background: #000000;
    color: white;
    border: none;
    padding: 14px 55px;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.shop-btn:hover {
    background: #000;
    transform: translateY(-2px);
}


.stats-row {
    padding: 30px 0 0 0;
    display: flex;
    gap: 45px;
    margin-top: 38px;
}

.stat-item {
    position: relative;
}

.stat-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -23px;
    top: 5px;
    width: 1px;
    height: 70px;
    background: #ccc;
}

.stat-item h3 {
    font-family: 'Satoshi';
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #000000;
}

.stat-item span {
    margin-bottom: 10px;
    font-size: 16px;
    color: #777;
}




.hero-image-container {
    height: 555px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-image {
    position: relative;
    right: 40%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}




.star {
    position: absolute;
    color: #000000;
    font-size: 110px;
    z-index: 2;
}

.star-one {
    top: 70px;
    right: 30px;
}

.star-two {
    top: 220px;
    left: 20px;

    font-size: 56px;
}



.brand-section {
    background: #000;
    min-height: 95px;
    display: flex;
    align-items: center;
    padding: 20px 30px;
}

.brand-logo {
    color: white;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px;
}

.product-section {
    padding-top: 65px;
    padding-bottom: 70px;
}

.products-section {
    width: 100%;
}

.section-title {
    font-family: 'FONTSPRING DEMO - Integral CF';
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #000;
    margin-bottom: 45px;
    letter-spacing: -1.5px;
}

.view-all-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.view-all-btn {
    background: #fff;
    border: 1px solid #e2e2e2;
    width: 218px;
    height: 52px;
    border-radius: 62px;
    font-size: 16px;
    font-family: 'Satoshi';
    font-weight: 500;
    color: #222;
    transition: all 0.3s ease;
}

.view-all-btn:hover {
    background: #000;
    color: #fff;
    border-color: #000;
}

.section-divider {
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    margin: 50px 0 60px;
}

.dress-style-box {
    background: #f0f0f0;
    border-radius: 40px;
    padding: 45px 38px;
}

.dress-style-title {
    text-align: center;
    font-family: 'FONTSPRING DEMO - Integral CF';
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #000;
    margin: 0 0 34px;
}

.style-card {
    height: 289px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.style-card h3 {
    position: absolute;
    top: 17px;
    left: 21px;
    z-index: 2;
    margin: 0;
    color: #000;
    font-size: 22px;
    font-weight: 600;
}

.style-card .casual {
    width: 973px;
    height: 649px;
    position: absolute;
    top: -140px;
    left: -310px;
    transform: rotateY(-180deg);
}

.style-card .formal {
    position: absolute;
    top: -146px;
    width: 1306px;
    height: 870px;
}

.style-card .party {
    position: absolute;
    width: 770px;
    height: 616px;
    top: -163px;
    left: -21px;
}

.style-card .gym {
    position: absolute;
    top: -148px;
    left: -2px;
    width: 500px;
    height: 677px;
}

.customer-section {
    width: 100%;
    padding: 45px 0 35px;
    overflow: hidden;
}

.customer-hrader {
    max-width: 1340px;
    margin: auto;
    padding: 0 45px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer-hrader h2 {
    font-family: 'FONTSPRING DEMO - Integral CF';
    font-size: 48px;
    font-weight: 700 bold;
    margin: 0;
    letter-spacing: -1px;
}


.customer-slider {
    padding-top: 30px;
    padding-left: 20px;
}

.customer-card {

    min-height: 117px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 28px 32px;
    background: #fff;
}

.stars {
    color: #ffc633;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 6px;
}

.customer-star {
    font-size: 22px;
}

.customer-card h5 {

    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.customer-card h5 span img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 991px) {

    .shop-navbar {
        padding: 10px 15px;
    }

    .search-box {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .nav-icons {
        margin-bottom: 10px;
    }

    .hero-section {
        min-height: auto;
    }

    .hero-section .row {
        min-height: auto;
    }

    .hero-content {
        padding: 50px 30px;
    }

    .hero-content h1 {
        font-size: 45px;
    }

    .hero-image-container {
        height: 500px;
    }

    .brand-logo img {
        width: 116px;
        height: 23px;
    }

    .product-section {
        padding-left: 25px;
        padding-right: 25px;
    }

    .section-title {
        font-size: 36px;
    }

    .dress-style-title {
        font-size: 32px;
    }

    .style-card .casual {
        width: 600px;
        height: 383px;
        position: absolute;
        top: -70px;
        left: -171px;
        transform: rotateY(-180deg);
    }

    .style-card .formal {
        position: absolute;
        top: -88px;
        left: -17px;
        width: 709px;
        height: 472px;
    }

    .style-card .party {
        position: absolute;
        width: 389px;
        height: 311px;
        top: -25px;
    }

    .style-card .gym {
        position: absolute;
        top: -86px;
        left: 1px;
        width: 361px;
        height: 425px;
    }
}


@media (max-width: 576px) {

    .offer-bar {
        font-size: 10px;
    }

    .close-offer {
        right: 10px;
    }

    .shop-logo {
        font-size: 24px;
    }

    .hero-content {
        padding: 40px 20px;
    }

    .hero-content h1 {
        align-items: center;
        width: 300px;
        height: 93px;
        font-size: 36px;
        letter-spacing: -1px;
    }

    .hero-content p {
        line-height: 20px;
        width: 320px;
        height: 50px;
        font-size: 13px;
    }

    .shop-btn {
        width: 282px;
        height: 52px;
        padding: 16px 54px 16px 54px;
    }

    .stats-row {
        gap: 20px;
        flex-wrap: wrap;
    }

    .stat-item h3 {
        font-size: 25px;
    }

    .stat-item span {
        font-size: 9px;
    }

    .stat-item:not(:last-child)::after {
        display: none;
    }

    .hero-image-container {
        height: 400px;
    }

    .brand-section {
        width: 390px;
        padding: 15px 10px;
    }

    .star-one {
        top: -90px;
        left: 330px;
    }

    .star-two {
        top: 114px;
        left: 50px;
    }

    .product-section {
        padding-top: 45px;
        padding-bottom: 45px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .section-title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .section-divider {
        margin: 40px 0 45px;
    }
}