.shop-navbar {
    background: #fff;
    padding: 20px 0;
}

.shop-logo {
    font-family: 'FONTSPRING DEMO - Integral CF';
    font-size: 38px;
    font-weight: 900;
    color: #000;
}

.nav-link {
    color: #000 !important;
    font-size: 16px;
}

.search-box {
    width: 45%;
    height: 48px;
    background: #f2f2f2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 18px;
}

.search-icon {
    color: #777;
    font-size: 20px;
}

.search-box input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 15px;
    font-size: 15px;
}


.nav-icons {
    display: flex;
    align-items: center;
    gap: 22px;
}

.cart-wrapper {
    position: relative;
    color: #000;
    display: flex;
}

.cart-icon,
.user-icon {
    color: #000;
    font-size: 23px;
}

.cart-wrapper span {
    position: absolute;
    top: -9px;
    right: -10px;
    font-size: 11px;
    background: #000;
    color: #fff;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-nav-icons {
    display: none;
}

@media (max-width: 991px) {

    .shop-navbar {
        padding: 20px 24px;
    }

    .container {
        width: 100%;
    }

    .shop-logo {
        font-size: 30px;
    }

    .mobile-nav-icons {
        display: flex;
        align-items: center;
        gap: 18px;
        margin-left: auto;
        margin-right: 15px;
    }

    .mobile-nav-icons .cart-icon,
    .mobile-nav-icons .user-icon {
        font-size: 23px;
    }

    .nav-icons {
        display: none;
    }


    .navbar-toggler {
        width: 80px;
        height: 60px;
        border: 4px solid #666;
        border-radius: 12px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }


    .navbar-collapse {
        width: 100%;
    }

    .navbar-nav {
        margin-top: 15px;
        gap: 0 !important;
    }

    .nav-item {
        padding: 5px 0;
    }

    .nav-link {
        font-size: 18px;
    }

    .search-box {
        width: 100%;
        margin: 20px 0 !important;
    }
}